@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<hr />
<div class="container-fluid">
    <div class="row">

        
        <div class="col-lg-6">
            <p style="font-size: 20px">The secret to success for The Mozzarella Fellas is much like the secret to making a better pizza - the more you put into it, the more you get out of it. Our pizza family is as hungry for perfection today as we were when we first opened our doors more than 30 days ago. And we're driven to be the best at making innovative new products and recipes.</p>
        </div>
        <div class="col-lg-6">
            <img src="~/Content/images/pizza.jpg" height="300px" width="480px" class="img-rounded">
        </div>
    </div>
</div>

