@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Mozzarella Way<br />
    91025 Marsala (TP) Sicily - Italy<br />
    Phone:
    +39 11 22 33 44
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@MozzarellaFellas.com">Support@MozzarellaFellas.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@MozzarellaFellas.com">Marketing@MozzarellaFellas.com</a>
</address>