@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the famous <br/> <strong>The Mozzarella Fellas!</strong></h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>New years special!</h2>
        <p>Great offers on many of our most wanted pizzas</p>
        @*@Html.ActionLink("Learn more", "About", "Home", new { area = "" }, new { @class = "btn btn-default" })*@
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>We are a traditional family run pizza place</p>
        @Html.ActionLink("Learn more", "About", "Home", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>You are always welcome to contact - Find out more...</p>
        @Html.ActionLink("Here", "Contact", "Home", new { area = "" }, new { @class = "btn btn-default" })

    </div>
</div>